.header {
    &.__detail {
        width: 80%;
    }
}
.service-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px;
    .service-content {
        &__image {
            overflow: hidden;
            width: 56vw;
            height: 60vh;
        }
        .service-image {
            width: 56vw;
            height: 56vh;
            object-fit: cover;
            &:hover {
                transform: scale(1.1);
                transition: all 0.5s ease;
            }
        }
        .service-title {
            margin-top: 20px;
            font-weight: 700;
        }
        .list-images {
            margin-top: 20px;
            display: flex;
            width: 56vw;
            position: relative;
            .left-button,
            .right-button {
                position: absolute;
                top: 44%;
            }
            .left-button {
                left: 0;
            }
            .right-button {
                right: 0;
            }
        }
    }
    .right-sider-bar {
        width: 21vw;
        height: max-content;
        background-color: #fbfbf1;
        position: relative;
        font-family: 'Roboto Condensed', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        h3 {
            font-weight: bold;
        }
    }
    .add-cart-button {
        width: 100%;
        background-color: rgb(255, 193, 7);
        border-radius: 0px;
        margin-right: 20px;
        color: #fff;
        .add-cart-icon {
            font-size: 32px !important;
        }
        &:hover {
            background-color: rgb(255, 193, 7, 0.8);
        }
        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .service-container {
        display: block;
        .service-image,
        .list-images {
            width: 100% !important;
        }
        .service-content__image {
            width: 100%;
            height: auto;
        }
    }
    .right-sider-bar {
        width: auto !important;
        height: auto !important;
    }
}
